.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  background: #e2e7ff;
  background: linear-gradient(0deg, #e2e7ff, #ffffff);
  width: 100vw;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: green;
  }
}
